.main-page-container[data-theme='light'] {
  --background-color: #f9f9f9;
  --btn-text-color: #f9f9f9;
  --text-color: #222;
  --primary-act-color: #007acc;
  --primary-act-color-transparent: rgba(0, 122, 204, 0.3);
  --secondary-act-color: #ff9100;
  --accent-color: #6a11cb;
  --hover-filter: brightness(115%);
  --active-filter: brightness(90%);
}

.main-page-container {
  background-color: var(--background-color);
  background: url(./assets/noise.svg), var(--background-color);
  background-size: contain;
  background-attachment: fixed;
  color: var(--text-color);
}

.main-page-container {
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main-page-container__detail {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.app-header {
  position: sticky;
  top: 0;
  background-color: transparent;
  padding: 1rem 0;
  z-index: 10;
}

.main-page {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;
}

.details-section {
  width: 100%;
  border-left: 2px solid var(--primary-act-color);
  overflow-y: auto;
  position: relative;
  overflow: hidden;
}

.main-page-container__detail {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.app-header__detail {
  grid-column: 1;
  grid-row: 1;
}
.main-page__detail {
  grid-column: 1;
  grid-row: 2;
}
.details-section {
  grid-row: 1 / span 2;
}
