.main-page-container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main-page-container__detail {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.app-header {
  position: sticky;
  top: 0;
  background-color: transparent;
  padding: 1rem 0;
  z-index: 10;
}

.main-page {
  max-width: 1280px;
  display: flex;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;
}

.details-section {
  width: 100%;
  border-left: 2px solid var(--primary-act-color);
  overflow-y: auto;
  position: relative;
}

@media (max-width: 768px) {
  .details-section {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    z-index: 100;
  }
}

.main-page-container__detail {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.app-header__detail {
  grid-column: 1;
  grid-row: 1;
}
.main-page__detail {
  grid-column: 1;
  grid-row: 1;
}
.details-section {
  grid-row: 1 / span 2;
}
