#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 1rem 0;
  z-index: 10;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-act-color-transparent)
    var(--scrollbar-track-color);
}

.app-content::-webkit-scrollbar {
  width: 0.5rem;
}

.app-content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.app-content::-webkit-scrollbar-thumb {
  background: var(--primary-act-color-transparent);
  transition: background-color 0.3s ease;
}

.app-content::-webkit-scrollbar-thumb:hover {
  background: var(--primary-act-color);
  cursor: pointer;
}

.app-footer {
  position: sticky;
  bottom: 0;
  background-color: var(--background-color);
  padding: 1rem 0;
  z-index: 10;
}
